.cardContainer {
    padding: var(--spacers-dp16);
    height: auto !important;
    margin-bottom: var(--spacers-dp16);
}

.currentVersionContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.versionLabel {
    font-weight: 500;
    font-size: 0.875rem;
}

.versionContainer {
    background-color: var(--colors-grey200);
    padding: var(--spacers-dp16);
    margin-bottom: var(--spacers-dp16);
    border-radius: var(--spacers-dp8);
}

.versionTitle {
    color: var(--colors-blue800);
    font-weight: 500;
    font-size: 0.875rem;
    margin: 0;
}

.versionInfo {
    color: var(--colors-grey700);
    font-size: 0.875rem;
    margin-bottom: 0;
}
