.appCard {
    max-width: 1200px;
    margin-bottom: var(--spacers-dp48);
    margin-top: var(--spacers-dp48);
    display: flex !important;
    justify-content: center;
}

.appCardSection {
    padding: var(--spacers-dp12);
}

.appCardName {
    font-size: 24px;
    font-weight: 700;
    margin-top: var(--spacers-dp8);
    margin-bottom: 6px;
}

.appCardHeading {
    font-weight: 500;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: var(--spacers-dp12);
}

.appCardParagraph {
    font-size: 15px;
    line-height: 19px;
    margin-top: 0;
    margin-bottom: var(--spacers-dp8);
}

.aboutSection {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: var(--spacers-dp16);
}

.latestVersionDescription {
    max-width: 168px;
    margin-top: var(--spacers-dp8);
    margin-bottom: 0;
    font-size: 11px;
    color: var(--colors-grey700);
}

.container {
    padding: 0 var(--spacers-dp24) var(--spacers-dp24);
}

.notice {
    margin-inline-start: var(--spacers-dp12);
    margin-inline-end: var(--spacers-dp12);
}
