.subtitle {
    color: var(--colors-grey800);
    font-style: normal;
    font-weight: 500;
}

.userGroup {
    margin-top: 0;
    margin-bottom: 0;
}

.userGroup +.userGroup {
    margin-top: 0.5em;
}
