.header {
    font-size: 26px;
    font-weight: 400;
    color: var(--colors-grey800);
    margin-top: 0;
    margin-bottom: var(--spacers-dp16);
}

.field {
    margin-bottom: var(--spacers-dp24);
    max-width: 480px;
}

@media only screen and (max-width: 768px) {
    .container {
        max-width: calc(-64px + 100vw) !important;
        max-height: calc(-64px + 100vh) !important;
    }

    .container div div{
        max-width: initial;
    }

    .field {
        margin-bottom: var(--spacers-dp32);
    }

    .field:first-of-type {
        margin-top: var(--spacers-dp32);
    }

    .button {
        margin-top: var(--spacers-dp24);
        margin-bottom: var(--spacers-dp16);
    }
}
